/* Style global */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #f4f7fa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Conteneur principal */
.container {
    background-color: #ffffff;
    width: 100%;
    max-width: 600px;
    padding: 40px;
    box-shadow: 0px 15px 40px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    text-align: center;
}

/* Champs du formulaire */
input, select {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    border-radius: 8px;
    border: 1px solid #ddd;
    font-size: 16px;
    box-sizing: border-box;
}

/* Boutons */
button {
    padding: 12px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.step {
    display: none;
    transition: all 0.3s ease;
}

.step.active {
    display: block;
}

.logo img {
    width: 150px;
}